In [82]:
%matplotlib qt5
#%matplotlib notebook
from modsim import *
from pandas import read_html
import pandas
import numpy

In [83]:
filename = 'data/returnedsalmonpopulation.html'
tables = read_html(filename, header=1, index_col=0, decimal='M')

In [84]:
table1 = tables[0]
table1

       1SW   2SW  3SW  Repeat  Total  Harchery  Natural
Year
1967    75   574   39      93    781       114      667
1968    18   498   12      56    584       314      270
1969    32   430   16      34    512       108      404
1970     9   539   15      17    580       162      418
1971    31   407   11       5    454       177      277
1972    24   946   38      17   1025       495      530
1973    18   623    8      13    662       422      240
1974    52   791   35      25    903       639      264
1975    77  1250   14      30   1371      1126      245
1976   172   836    6      16   1030       933       97
1977    63  1027    7      33   1130       921      209
1978   145  2269   17      33   2464      2082      382
1979   225   972    6      21   1224      1039      185
1980   707  3437   11      57   4212      3870      342
1981   789  3738   43      84   4654      4428      226
1982   294  4388   19      42   4743      4489      254
1983   239  1255   18      14   1526      1270      256
1984   387  1969   21      52   2429      1988      441
1985   302  3913   13      21   4249      3594      655
1986   582  4688   28      13   5311      4597      714
1987   807  2191   96     132   3226      2896      330
1988   755  2386   10      67   3218      3015      203
1989   992  2461   11      43   3507      3157      350
1990   575  3744   18      38   4375      3785      590
1991   255  2289    5      62   2611      1602     1009
1992  1056  2255    6      20   3337      2678      659
1993   405  1953   11      37   2406      1971      435
1994   342  1266    2      25   1635      1228      407
1995   168  1582    7      23   1780      1484      296
1996   574  2168   13      43   2798      2092      706
1997   278  1492    8      36   1814      1296      518
1998   340  1477    3      42   1862      1146      716
1999   402  1136    3      26   1567       959      608
2000   292   535    0      20    847       562      285
2001   269   804    7       4   1084       833      251
2002   437   505    2      23    967       832      135
2003   233  1185    3       6   1427      1238      189
2004   319  1266   21      24   1630      1395      235
2005   317   945    0      10   1272      1019      253
2006   442  1007    2       5   1456      1167      289
2007   299   958    3       1   1261       940      321
2008   812  1758   12      23   2605      2191      414
2009   243  2065   16      16   2340      2017      323
2010   552  1081    2      16   1651      1468      183
2011  1084  3053   26      15   4178      3560      618
2012    26   879   31       5    941       731      210
2013    78   525    3       5    611       413      198
2014   110   334    3       3    450       304      146

In [85]:
total = table1.Total

In [86]:
Time = System(t0 = 1967, t_end = 2014)
habitat_destruction = 0.5
total = table1.Total

In [87]:
population_change = TimeSeries() 
population_change = total.diff()
population_change[Time.t0] = 100
population_change.columns = {' Year', 'dp/dt'}
population_change

Year
1967     100.0
1968    -197.0
1969     -72.0
1970      68.0
1971    -126.0
1972     571.0
1973    -363.0
1974     241.0
1975     468.0
1976    -341.0
1977     100.0
1978    1334.0
1979   -1240.0
1980    2988.0
1981     442.0
1982      89.0
1983   -3217.0
1984     903.0
1985    1820.0
1986    1062.0
1987   -2085.0
1988      -8.0
1989     289.0
1990     868.0
1991   -1764.0
1992     726.0
1993    -931.0
1994    -771.0
1995     145.0
1996    1018.0
1997    -984.0
1998      48.0
1999    -295.0
2000    -720.0
2001     237.0
2002    -117.0
2003     460.0
2004     203.0
2005    -358.0
2006     184.0
2007    -195.0
2008    1344.0
2009    -265.0
2010    -689.0
2011    2527.0
2012   -3237.0
2013    -330.0
2014    -161.0
Name: Total, dtype: float64

In [242]:
def general_growth(pop):
    pop += pop*1.5
    return pop

In [257]:
def update_func(pop, t):
    net_growth2 = population_change.sample(n=1)
    pop += net_growth2
    if pop.values < 0:
        pop.values = 0*pop.values
    return pop.values

In [258]:
def run_simulation(pop, t, p):
    pop1 = general_growth(pop)
    if flip(p):
        pop2 = update_func(pop1, t)
    else: 
        pop2 = pop1
    return pop2
run_simulation(total, 0, 0.5)

Year
1967         NaN
1968         NaN
1969         NaN
1970    23081.25
1971         NaN
1972         NaN
1973         NaN
1974         NaN
1975         NaN
1976         NaN
1977         NaN
1978         NaN
1979         NaN
1980         NaN
1981         NaN
1982         NaN
1983         NaN
1984         NaN
1985         NaN
1986         NaN
1987         NaN
1988         NaN
1989         NaN
1990         NaN
1991         NaN
1992         NaN
1993         NaN
1994         NaN
1995         NaN
1996         NaN
1997         NaN
1998         NaN
1999         NaN
2000         NaN
2001         NaN
2002         NaN
2003         NaN
2004         NaN
2005         NaN
2006         NaN
2007         NaN
2008         NaN
2009         NaN
2010         NaN
2011         NaN
2012         NaN
2013         NaN
2014         NaN
Name: Total, dtype: float64

In [248]:
def run_model(p):
    salmon_population = System(pop0 = 781)
    model = TimeSeries()
    model[Time.t0] = salmon_population.pop0
    for t in linrange(Time.t0, Time.t_end):
        model[t+1] = run_simulation(model[t], t, p)
    Time.model = model

In [249]:
run_model(0.5)
print(Time.model)
plot(total, '-', color='darkblue', label='Raw data')
plot(Time.model, '-', color='red', label='model')
def decorate():
    """Add a legend and label the axes.
    """
    legend(loc='best')
    label_axes(title='Returned Salmon Population Over Time',
               xlabel='Year', 
               ylabel='Salmon Population')
decorate()

AttributeError: 'numpy.float64' object has no attribute 'values'

In [100]:
plot(population_change)
def decorate():
    """Add a legend and label the axes.
    """
    legend(loc='best')
    label_axes(title='Returned Salmon Population Growth Rate Over Time',
               xlabel='Year', 
               ylabel='Salmon Population Growth Rate')
decorate()

C:\ProgramData\Miniconda3\lib\site-packages\matplotlib\axes\_axes.py:545: UserWarning: No labelled objects found. Use label='...' kwarg on individual plots.
  warnings.warn("No labelled objects found. "

In [ ]:
p_array1 = linspace(0,1,100)
def parameter_sweep(p_array):
    for p in p_array:
        salmonpop = run_simulation(781, 0, p)
        plot(p, salmonpop, color= 'darkgreen', label = 'Parameter Sweep')
def decorate():
    """Add a legend and label the axes.
    """
    legend(loc='best')
    label_axes(title='Population Over Probability of Habitat Changing Events',
               xlabel='Probability of Habitat Changing Events', 
               ylabel='Salmon Population')
parameter_sweep(p_array1)
decorate()

In [ ]:
Time.t_end = 2100
run_model(0.5)
plot(total, '-', color='darkblue', label='Raw data')
plot(Time.model, '-', color='red', label='model')
def decorate():
    """Add a legend and label the axes.
    """
    legend(loc='best')
    label_axes(title='Returned Salmon Population Over Time',
               xlabel='Year', 
               ylabel='Salmon Population')
decorate()

In [ ]:
Time.t_end = 2100
def run_model2():
    salmon_population = System(pop0 = 781)
    model_prediction1 = TimeSeries()
    model_prediction1[Time.t0] = salmon_population.pop0
    for t in linrange(Time.t0, 2014):
        model_prediction1[t+1] = run_simulation(model_prediction1[t], t, 0.5)
    for t in linrange(2015, Time.t_end):
         model_prediction1[t+1] = run_simulation(model_prediction1[t], t, 1)
    Time.model_prediction1 = model_prediction1
run_model2()   
plot(total, '-', color='darkblue', label='Raw data')
plot(Time.model_prediction1, '-', color='red', label='model')
def decorate():
    """Add a legend and label the axes.
    """
    legend(loc='best')
    label_axes(title='Returned Salmon Population Over Time',
               xlabel='Year', 
               ylabel='Salmon Population')
decorate()